*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    background:linear-gradient(#200016, #10001f);
    font-family: system-ui;

}


.a{
    text-decoration: none;
    color: white;
    transition: all 0.2s;
    padding: 5px 15px;
    border-radius: 20px;
}

.a:hover,#active{
    background: white;
    color: #200016;
}

header{
    position: fixed;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.h2{
    margin: 25px;
}

.logo{
    font-size: 30px;
    margin-top: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    cursor: text;
    
}


ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin-right: -30px;
}







.main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.main::after{
    content: '';
    position: absolute;
    bottom: -35px;
    height: 130px;
    width: 100%;
    background: linear-gradient(to top,#200016,transparent);
}


.img{
    position: absolute;
    width: 100%;
    height: 110vh;
    object-fit: cover;

}

#img2{
    mix-blend-mode: screen;
    transform:translateY(60px);


    
}

.nouvil{
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    transform: translateY(-180px);
    
}

.content{
    padding: 20px;
    background:linear-gradient(#200016, #10001f);;
}

h2{
    font-size: 32px;
    color:white;
     margin: 60px 20px 20px 20px;
     
}

.par{
    margin: 20px 20px 20px 20px;
    color: rgba(255, 255, 255, 0.867);
    font-size: 20px;
}

