body{
    margin: 0;
    height: 100vh;
    
}


.container{
    height: 100%;
    background-image: url("./assists/img/prog.webp");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}


.container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 0.1;
}





/*menu top start*/

.ul{
    display: flex;
    justify-content: end;
    align-items: start;
    margin-top: 0;
    margin-right: 100px;
    list-style: none;
    gap: 50px;
    
}



.ul:hover > :not(:hover){
    opacity: 0.4;
    filter: red(10px);
    transform: scale(0.7);
  
}



.list{
    margin-top:20px;
    z-index: 1;
    font-size: medium;
    transition: all 0.2s;
}


.li{
    text-decoration: none;
    color: white;
}





.photo-div{
    display: flex;
    justify-content: end;
}

.photo{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: aqua;
    margin: -40px 30px 0px 0px;
    z-index: 1;
    
}

.profile-img{
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}




/*menu top end*/








/*center start*/


.center{
    position: relative;
}


.texts{
    margin: 150px 0px 0px 100px;
    font-size: 2rem;
    color: white;
    position: absolute;


}




.span{
    color:orange;
    
    
}



.h6{
    font-size: large;
    margin: -130px 0px 0px 0px;
    color: rgba(255, 255, 255, 0.796);
}


.button{
    display: flex;
    justify-content: start;
    align-items: end;
}

.btn{
    background-color: orange;
    color: white;
    padding: 6px 50px;
    font-size: medium;
    border: 0px solid orange;
    border-radius: 20px;
    margin: 450px 0px 0px 100px;
    transition: all 0.2s;
    cursor: pointer;
}



.btn:hover{
    background-color: white;
    color: orange;
    transform: scale(1.1);
}




/*center end*/
